@import url("http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@font-face {
    font-family: "Flat-UI-Icons";
    src: url("Flat-UI-Icons.eot");
    src: url("Flat-UI-Icons.eot?#iefix") format("embedded-opentype"), url("Flat-UI-Icons.woff") format("woff"), url("Flat-UI-Icons.ttf") format("truetype"), url("Flat-UI-Icons.svg#Flat-UI-Icons") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* General Styles */
body {
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.231;
	height: 100%;
}
/* added by ddlooping */
#Frame {
	position: absolute;
	width: 100%;
	margin: auto;
}

/* commented out by ddlooping
@media (min-width: 1921px)  {
    #Frame {
    	position: absolute;
    	width: 100%;
    	margin: auto;

    }
}
@media (min-width: 1920px)  {
    #Frame {
    	position: absolute;
    	width: 1920px;
    	margin: auto;

    }
}
@media (max-width: 1680px) and (min-width: 1601px)  {
    #Frame {
    	position: absolute;
    	width: 1680px;
    	margin: auto;

    }
}
@media (max-width: 1600px) and (min-width: 1441px)  {
    #Frame {
    	position: absolute;
    	width: 1600px;
    	margin: auto;

    }
}
@media (max-width: 1440px and (min-width: 1367px))  {
    #Frame {
    	position: absolute;
    	width: 1440px;
    	margin: auto;

    }
}
@media (max-width: 1366px) and (min-width: 1365px)  {
    #Frame {
    	position: absolute;
    	width: 1366px;
    	margin: auto;

    }
}
@media (max-width: 1360px) and (min-width: 1281px)  {
    #Frame {
    	position: absolute;
    	width: 1360px;
    	margin: auto;

    }
}
@media (max-width: 1280px) and (min-width: 1153px)  {
    #Frame {
    	position: absolute;
    	width: 1280px;
    	margin: auto;

    }
}
@media (max-width: 1152px) and (min-width: 1025px)  {
    #Frame {
    	position: absolute;
    	width: 1152px;
    	margin: auto;

    }
}
@media (max-width: 1024px)  {
    #Frame {
    	position: absolute;
    	width: 1024px;
    	margin: auto;

    }
}
*/
a {
    color: #2980B9;
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}
a:hover {
    color: #3498DB;
    text-decoration: none;
}

blockquote {
	margin: 1em 0 !important; padding: 0.5em 1em !important;
	background: rgba(0, 16, 32, 0.05) !important;
	border-left: 4px solid rgba(0, 16, 32, 0.1) !important;
}

ul.token-input-list,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 8px 5px;
    min-height: 21px;
    text-indent: 6px;
    -webkit-appearance: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear;
    -moz-transition: border .25s linear, color .25s linear;
    -o-transition: border .25s linear, color .25s linear;
    transition: border .25s linear, color .25s linear;
    -webkit-backface-visibility: hidden;
}
ul.token-input-list {
	height: auto;
	padding: 4px 2.5px;
}

input {
    border-color: #3498db;
    color: #3498db;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #3498DB;
}

input[type="checkbox"],
input[type="radio"] {
	margin-bottom: 12px;
	padding-left: 32px;
	position: relative;
	-webkit-transition: color 0.25s linear;
	-moz-transition: color 0.25s linear;
	-o-transition: color 0.25s linear;
	transition: color 0.25s linear;
	-webkit-backface-visibility: hidden;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
	color: #2980B9;
}

#ConversationForm .TextBox {
	padding-right: 0;
	width: 99% !important;
}


/* Header and Navigation */
.nav {
	position: relative;
	width: 50%;
	float: right;
	text-align: right;
	height: 2em;
	top: -2px;
}

#Foot {
	margin: 0; padding: 0;
	color: #B8BFC7;
}
.PoweredByVanilla {
	height: 13px;
	width: 57px;
	background: url('vanilla.png') no-repeat;
}

.SiteMenu {
  display: inline-block;
  margin-top: 0px;
  margin-right: 10px;
}

.SiteMenu li a {
  color: #58595b !important;
  float: right;
  font-size: 0.9em;
}
.SiteMenu li a:hover {
	text-decoration: none;
	position: relative;
	bottom: 2px;
}

.BreadcrumbsWrapper {
    background-color: #f3f4f5;
    font-size: 14.994px;
    font-weight: 700;
    padding: 13px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 35px 0 5px 0;
}
.BreadcrumbsWrapper a { vertical-align: middle; }
.CrumbLabel a {
	display: inline-block;
	vertical-align: middle;
	color: #58595b !important;
}
.CrumbLabel.Last a {
	color: #3a97d3 !important;

}
.Crumb{
	font-size: 0px;
}
.Crumb:before {
    color: #BDC3C7;
    font-family: 'Flat-UI-Icons';
    content: "\e002";
    display: inline-block;
    font-size: 9.799999999999999px;
    margin: -8px 9px 0 13px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.Count {
	background-color: #d8dce0;
	border-radius: 5px;
	color: #ffffff;
	font-size: 12.992px;
	font-weight: 500;
	float: right;
	margin: 1px -4px -1px 0;
	padding: 0 8px;
}

#Panel .FilterMenu li,
.PanelInfo li {
	border-radius: 5px;
	font-size: 14.994px;
	font-weight: 700;
	/* margin-left: -13px; margin-right: -13px; */
	padding: 4px 13px 4px 13px;
	text-shadow: none;
	-webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
#Panel .FilterMenu li:hover,
.PanelInfo li:hover {
	text-decoration: none;
    background-color: #eeeeee;
}
#Panel .FilterMenu li {
	font-size: 13.994px;
	font-weight: bold;
}
#Panel .FilterMenu li,
.PanelInfo li,
#Panel .FilterMenu li:first-child,
.PanelInfo li:first-child {
	border-top: none;
	border-bottom: none;
}
.PanelInfo .Heading, .PanelInfo .Heading:hover {
	margin: 0.5em 0 0.3em 0;
	background: #999DA2;
	color: #FFF;
	border-radius: 0px !important;
	cursor: default;
}
li.Category-classifieds {
	/* background: #61A419 !important; */
}
.FilterMenu li.Active,
.FilterMenu li.Active:hover,
.PanelInfo .Active,
.PanelInfo .Active:hover {
	background: #3498DB !important;
	background-color: #3498DB !important;
}
.FilterMenu li.Active a,
.FilterMenu li.Active a:hover,
.PanelInfo .Active a:hover,
.PanelInfo .Active a{
	color: #ffffff !important;
}
.FilterMenu li.Active .Count,
.PanelInfo .Active .Count {
	background-color: #ffffff;
	color: #9aa4af;
}

.Box h4 {
	color: #aeb6bf;
	font-size: 12.992px;
	text-transform: uppercase;
	border-top: 2px solid #e5e5e5;
	padding-top: 5px;
}

.Errors ul,
.DismissMessage {
	color: #34495e !important;
	padding: 16px 45px 16px 30px;
    text-shadow: none;
    background-color: #f9f8f3;
    border: 2px solid #ebece8 !important;
    font-size: 16px;
    line-height: 1.53875em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.Errors ul {
	background: #f8f5f5 !important;
	border: 1px solid #ebe9ea !important
}
.DismissMessage a {
    color: #f1c40f;
    font-weight: bold;
}
.DismissMessage a:hover {
    text-decoration: underline;
}
.DismissMessage.CasualMessage {
    background-color: #eef6f5;
    border-color: #e0eaeb;
}
.DismissMessage.CasualMessage a {
	color: #2980B9;
}
.DismissMessage.InfoMessage {
    background-color: #f7f9fa;
    border-color: #e9ecef;
}
.DismissMessage.InfoMessage a {
    color: #3498db;
}
.Errors ul li,
.DismissMessage.WarningMessage {
    background-color: #f8f5f5 !important;
    border-color: #ebe9ea !important;
    color: #34495e !important;
}
.DismissMessage.WarningMessage a {
    color: #e74c3c;
}
.DismissMessage a.Dismiss:hover {
	background: none;
	color: #000 !important;
}

.SiteSearch input.InputBox {
  width: 45% !important;
  max-width: 300px;
  display: inline-block;
  float: right;
	margin-top: -0.3em;
	height: auto;
	background-color: #e8e9eb;
	color: #58595b;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
	border: 2px solid #a8a9ab !important;
	font-family: "Lato", sans-serif;
	font-size: 14.994px;
	text-shadow: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}
.SiteSearch .InputBox:focus {
	border: 2px solid #3498DB !important;
	background-color: #ffffff;
	color: #58595b;
}
.SiteSearch .Button {
	top: 5px;
	background-position: 0 -324px;
}
.SiteSearch .Button:hover {
	background: url('../../../applications/dashboard/design/images/sprites.png') 0 -324px no-repeat transparent;
}

.MeButton .Alert,
.Alert {
	background-color: #2a7aaf;
	border-radius: 50%;
	color: #ffffff;
	font-family: "Lato", sans-serif;
	font-size: 11.998px;
	font-weight: 500;
	line-height: 18.998px;
	min-width: 14px;
	padding: 0 2px;
	text-align: center;
	-webkit-font-smoothing: auto;
}

div.token-input-dropdown ul li.token-input-dropdown-item2,
li.token-input-token span {
	background-color: #3498DB;
}
div.token-input-dropdown,
div.token-input-dropdown ul li,
div.token-input-dropdown ul li.token-input-dropdown-item {
	background-color: #34495e;
    color: #FFF;
}

/* Main Content */
.NavButton,
.Button {
    border: none;
    background: #bdc3c7;
    color: #ffffff;
    line-height: 22px;
    text-decoration: none;
    text-shadow: none;
    font-weight: normal;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}
.NavButton:hover,
.NavButton:focus,
.Button:hover,
.Button:focus {
    background-color: #cacfd2;
    color: #ffffff;
    outline: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.ClearConversation,
.Button.Cancel {
	background-color: #e74c3c;
}
.ClearConversation:hover,
.ClearConversation:focus,
.Button.Cancel:hover,
.Button.Cancel:focus {
	background-color: #ec7063;
}

.Primary {
	background-color: #9B59B6;
}
.Primary:hover,
.Primary:focus {
	background-color: #3498DB;
}

.Button.PreviewButton {
	background-color: #3498DB;
}
.Button.PreviewButton:hover,
.Button.PreviewButton:focus {
	background-color: #5dade2;
}

.HasNew {
	display: inline-block;
	font-weight: 600;
	padding: 2px 5px 2.5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f1c40f;
	color: #ffffff;
}
.Tag {
	background-color: #3498DB;
	color: #FFFFFF;
	font-size: 0.9em;
	line-height: 2;
	font-weight: normal;
	margin-right: 4px; padding: 1px 9px 2px;
	text-shadow: none; text-decoration: none;
}

.MenuItems a,
.MenuItems a:link,
.MenuItems a:active,
.MenuItems a:visited,
.MenuItems,
.MeMenu .EditProfileLink {
	background-color: #34495e;
	color: #FFF !important;
	font-size: 14px;
}
.MenuItems a:hover {
	background-color: #3498DB !important;
}

.FlyoutMenu {
	background-color: #FFFFFF;
	color: #666666 !important;
	font-size: 1em !important;
	border: 1px solid #DDDDDD !important; border-radius: 6px !important;
}
.FlyoutMenu a {
	font-weight: bold;
    color: #3498DB !important;
}
.FlyoutMenu a:hover { color: #9B59B6 !important; }

.FlyoutMenu .HasNew {
	color: #900;
}
.Flyout:before,
.Flyout:after {
	border-bottom: 7px solid #34495e;
}

.PopList .Item {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
/*
.PopList .Item:hover {
	background-color: #3498DB !important;
}
.PopList .Item.Center:hover,
.PopList .Item.Title:hover {
	background-color: #34495e !important;
}
*/
li.token-input-token {
	background: #3498DB;
	color: #ffffff;
	cursor: pointer;
	font-size: 14px;
	text-align: right;
	text-decoration: none;
	border: none;
	vertical-align: middle;
	height: 100%;
	padding: 2px;
	margin-top: 2px;
}

.Pager {
	background-color: #9B59B6 /* #34495e */;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.Pager span,
.Pager a {
	background: transparent;
	border: none;
	border-left: 2px solid #FFF;
	color: #FFF;
	line-height: 16px;
	min-height: 17px;
	min-width: 19px;
	outline: none;
	padding: 0.5em; /* 12px 10px */
	text-align: center;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	-webkit-backface-visibility: hidden;
	margin: 0;
}
.Pager span:hover,
.Pager a:hover {
	background-color: #AA1100;
}
.Pager .Next:hover {
    webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}
.Pager .Highlight {
	color: #FFF;
	background-color: #3498DB /* #415b76 */;
}
#vanilla_discussion_index .CommentForm {
	/* margin-top: 2em; */
}

.MiniPager {
	display: inline-block;
	vertical-align: middle;
}
.MiniPager a {
	padding: 0 2.5px;
}
.MiniPager:before {
	color: #bdc3c7;
	content: "\2190";
	display: inline-block;
	font-size: 9.799999999999999px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	position: relative;
	bottom: 2px;
}
.MiniPager:after {
	color: #bdc3c7;
	content: "\2192";
	display: inline-block;
	font-size: 9.799999999999999px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	position: relative;
	bottom: 2px;
}

a.Bookmark {
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

form.Activity textarea {
    width: 98%;
}

h1.H,
h2.H {
	display: inline-block;
}
h2.H:before ,
h1.H:before {
    font-family: "Flat-UI-Icons";
	display: inline-block;
	font-size: 100%;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	margin-right: 5px;
}
#DiscussionForm h1.H:before {
	content: "\e025";
}
#conversations_messages_all h1.H:before,
#conversations_messages_inbox h1.H:before,
#ConversationForm h1.H:before {
	content: "\e013";
}
#vanilla_discussions_bookmarked h1.H:before {
	content: "\e036";
}
#vanilla_discussions_mine h1.H:before {
	content: "\e025";
}
#vanilla_drafts_index h1.H:before {
	content: "\e03e";
}
#dashboard_activity_index h1.H:before {
	content: "\e015";
}
#dashboard_profile_edit h1.H:before {
	content: "\e00d";
}
#dashboard_profile_password h1.H:before {
	content: "\e01f";
}
#dashboard_profile_preferences h1.H:before {
	content: "\e017";
	font-weight: normal;
}
#dashboard_profile_picture h1.H:before {
	content: "\e00f";
	font-weight: normal;
}
#dashboard_profile_thumbnail h2.H:before {
	content: "\e03a";
	position: relative;
	bottom: 3px;
}

.DataList a.Delete:hover {
	background: none;
	color: #CCC;
}

/* Plugins */
.BarWrap {
	border: none;
	background: none;
	background-color: transparent;
}

.Comment .Reactions {
    visibility: hidden;
    margin-left: 0;
}
.Comment:hover .Reactions {
    visibility: visible;
}
.Discussion .Reactions {
    margin-left: 0;
}

/* End of the Road */

/* ==== START OF THE NEW ROAD ==== */

/* TOP BANNER */
#topBanner {
	width: 45%; 
	top: 20px;
	position: relative;
}

#topBanner img {
  width: auto;
  max-height: 140px;
	max-width: 100%;
}

#promo-banner {
  position: absolute;
  top: 0px;
  right: 17px;
  width: 45%;
  text-align: right;
}

#promo-banner img {
  max-height: 180px;
  width: auto;
  max-width: 100%;
	margin-top: 5px;
}

/* MAIN COLUMN */
.Row {
	margin: auto; width: 90%; max-width: 1100px !important; min-width: 610px !important;
	padding: 0 1.2em;
	background: #FFF;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.TopRow { background: transparent; }
#Head .Row { margin: 0 !important; }
#Head .TopRow { padding: 0; width: 100%; box-shadow: none !important; }
.BottomRow {
	padding: 1em;
	background: transparent;
	text-align: center;
}

/* CONTENT COLUMN */
#Body .ContentColumn {
	margin: 0px 0px 0px 224px !important;
}

/* CATEGORIES PAGE */
.CategoryGroup {
	margin-bottom: 1em !important;
	border: 1px solid #DDD !important;
    -webkit-box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.CategoryGroup .H {
	padding: 0.5em 0 0.5em 1em;  width: 98.1%;
	background: #3498DB;
	color: #FFF;
}
.CategoryGroup .DataTableWrap {
	/* margin: 0.5em 1em; */
}
/*
.Item.Read {
	background: url(../img/bg-read.gif) repeat-y !important;
	opacity: 0.9;
}
.Item.Unread {
	background: url(../img/bg-unread.gif) repeat-y !important;
}
*/
.CategoryName h3 {
	padding-top: 0.5em;
}
.CategoryTable tr:last-child td {
   border-bottom: none;
}
.CategoryTable.DataTable td {
	padding: 0.5em 1em !important;
}
tbody td.BigCount {
	padding: 0.7em 0.3em 0;
	font-family: arial; font-size: 1em;
}
/*
.CategoryTable.DataTable .CategoryName {
	padding: 0.3em 1em 0.5em 1.3em !important;
}
*/
/* DISCUSSIONS PAGE */
/*
.DiscussionsTable:first-child.Announcement td {
	border-top: 1px solid #30A0D0 !important;
}
*/
.DiscussionsTable tr.Announcement td {
	border-bottom: 1px solid #30A0D0 !important;
}
.DiscussionsTable .DiscussionName {
	padding-left: 0.7em;
}
.DiscussionName a {
	font-weight: 700 !important;
}
.DiscussionName .Meta-Discussion {
	margin-top: 0.2em;
}
.Item.Read {
	background: #EEE !important;
	opacity: 0.9;
}
/* THREADS */
.DiscussionHeader a { color: #FFF !important; }
.Discussion .ItemDiscussion {
	margin: 1em 0 0 !important; padding: 0 !important;
	border: 1px solid #3498DB !important;
}
.DiscussionHeader {
	margin: 0 0 0.5em !important; padding: 0.5em !important;
	background: #3498DB !important;
}
.DiscussionHeader .AuthorInfo { color: #C0C2CC !important; }
.DiscussionMeta { color: #C0C2CC !important; }
.ItemDiscussion .Reactions {
	margin-top: 0.5em;
	text-align: right;
}

.ItemComment {
	margin: 0 !important; padding: 0 !important;
	border: 1px solid #D8DCE0 !important;
}
.CommentHeading {
	margin: 1em 0 !important;
}
.Options {
	float: right; margin-top: 0.5em !important;
}
.CommentHeader {
	padding: 0.5em !important;
	background: #D8DCE0 !important;
}
.AuthorWrap { padding-bottom: 0.5em; }
.Item-Body { padding: 0em 1em 0.5em !important; }
.Message { margin-top: 0.5em !important; }
.UserSignature {
	margin-top: 1em; padding-top: 0.5em !important;
	font-size: 0.8em !important; line-height: 1.3;
	border-top: 1px solid #D8DCE0 !important;
}

/* REACTIONS */
.PeregrineClick { cursor: pointer; }
.PeregrineTotReaction {
	background-color: #3498DB !important;
}

/*
  digitalscream changes 2013-08-02...again :D
  This allows icons and counts to be visible but labels to be greyed-out until hover
  ddlooping made some changes too :P (change opacity of ReactionCount)
*/
.Comment .Reactions {
	visibility: visible;
	padding-top: 0.5em !important;
	text-align: right !important;
	border-top: 1px solid #D8DCE0 !important;
	color: #CDE;
}
.Reactions span.Bullet {
  display: none;
}
.Comment .Reactions span.ReactFacebook, .Comment .Reactions span.ReactTwitter {
  opacity: 0.5; zoom: 1; filter: alpha(opacity=50);
}
.Comment .Reactions:hover span.ReactFacebook, .Comment .Reactions:hover span.ReactTwitter {
  opacity: 1; zoom: 1; filter: alpha(opacity=100);
}
.Comment .Reactions img, .Comment .Reactions .ReactionCount {
  opacity: 0.6; zoom: 1; filter: alpha(opacity=60);
}
.Comment .Reactions:hover img, .Comment .Reactions:hover .ReactionCount {
  opacity: 1; zoom: 1; filter: alpha(opacity=100);
}
.Comment .Reactions:hover {
	padding-top: 0.5em !important;
	text-align: right !important;
	border-top: 1px solid #D8DCE0 !important;
	color: #2980B9;
}
/*
  end digitalscream changes 2013-08-02
*/

/*digitalscream change 2013-09-03*/

span.React-4 {
  display: none;
}

/*end digitalscream change 2013-09-03*/

.ReactionClass {
	padding: 0.5em !important;
	background-color: #F9F9F9; color: red;
}
.Reactions .ProfilePhotoSmall {
	width: 16px !important; height: 16px !important;
	vertical-align: middle !important;
}
.Reactions .ProfilePhotoCircle {
	width: 18px !important; height: 18px !important;
}
/* for badge pages */
div.pbtitle {
	font-size: 1.4em !important;
	font-weight: bold;
	padding: 0 0 1em !important;
	text-align: center;
}
div.pbcell {
	border-bottom: 1px solid #F0F0F0;
	display: inline-block !important;
	height: auto !important;
	text-align: center;
	min-width: 110px !important;
	padding: 0.5em !important;
	width: 15% !important;
}

/* IN THIS DISCUSSION / WHOSONLINE */
div#InThisDiscussion { /* ddlooping (22-12-2013) */
	height: auto;
	max-height: 240px; /* change to taste */
	overflow: auto;
}
div#WhosOnline { /* ddlooping (22-12-2013) */
	height: auto;
	max-height: 240px; /* change to taste */
	overflow: auto;
}
#InThisDiscussion .PanelInfo li, #WhosOnline .PanelInfo li  {
	padding: 0.3em 0.8em !important;
	font-size: 0.9em;
}
#InThisDiscussion .Timestamp, #WhosOnline .Timestamp { font-size: 0.9em; }

/* LEAVE COMMENT STUFF */
#Form_Body, #Form_Body + iframe { width: 100% !important; }

/* MISCELANEOUS */
.clear { clear: both; }
.theFB { /* :) */
	background-color: #3498DB; color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
}
.DataList .Excerpt {
	font-size: 100% !important;
}
.DataList a.Delete {
	font-size: 1.6em;
}

div.topBottomArrows { font-size: 0.8em; float: right; margin-top: 0.2em; padding: 0.5em 0.7em; }

/* SMILEYS */
.EmotifyDropdown, .Emoticon {
	width: 24px !important; height: 24px !important;
	vertical-align: middle !important;
}
.EmoticonBox:hover {
	margin: 0 !important;
	-webkit-box-shadow: 0px 0px 7px #000;
	-moz-box-shadow: 0px 0px 7px #000;
	box-shadow: 0px 0px 7px #000;
	z-index: 10;
}

/* SPHINX Search (ddlooping / 22-12-2013) */
.SphinxSearch {
	clear: none !important;
}
#SphinxResults #NavBar {
	clear: none !important;
}
#MoreOptions {
	margin: 1em 0 !important; padding: 1em !important; width: auto !important;
	border: 2px solid #BDC3C7; border-radius: 6px;
}

.relative {
  position: relative;
}

.Button.RecentDiscussions {
  background-color: #79B0C9;
  color: #FFFFFF !important;
  font-weight: bold;
  font-size: 1.1em;
}

.Button.NewDiscussion {
  font-weight: bold;
}
